.super-mario {
    position: absolute;
    width: 200px;
    top: 100px;
    left: 50px;

  }
  
  .goomba {
    position: absolute;
    width: 100px;
    top: 420px;
    left: 100px;
  }
  
  .baloon {
    position: absolute;
    top: 600px;
    z-index: 1;
  
  }
  
  .speech {
    position: absolute;
    font-size: 25px;
    top: 630px;
    left: 30px;
    z-index: 2;
  }
  
  .bowser {
    position: absolute;
    width: 200px;
    top: 800px;
    left: 280px;
    z-index: 3;
  }